* {
  --main-bg-color: #fefcfa;
  --black: #313639;
  --grey: #c2c5cc;

  background: var(--main-bg-color);
  color: var(--black);
}

.coder {
  margin-top: -5rem;
}

.explain {
  background: var(--grey);
  padding: 2rem;
  border-radius: 5px;
}

.explain p {
  background: var(--grey);
  border-radius: 5px;
  font-size: 2rem;
}

.para {
  font-size: 3rem;
  font-style: italic;
  margin-top: 5rem;
}

#title {
  font-style: italic;
  letter-spacing: 0.4rem;
  font-size: 8rem;
  border-bottom: 1px solid var(--black);
}
