@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  background: #c9d1d3;
  --highlight: #00909e;
  --primary-lettering: #1b2a49;
  font-family: "Montserrat", sans-serif;
}

#ageVerifyContainer {
  text-align: center;
}

#ageVerifyContainer button {
  margin: 2rem 5rem 0 5rem;
  padding: 0 5rem 0 5rem;
}

#buttonWrapper {
  margin-bottom: 3rem;
}

#clearBtn {
  display: none;
}

.container {
  margin-top: 6rem;
}

.container h1 {
  color: var(--highlight);
  text-align: center;
  border-bottom: 1px solid var(--highlight);
}

.dynamic {
  display: none;
}

.joke {
  list-style: none;
  font-size: 3rem;
  border-bottom: 1px solid var(--highlight);
  color: var(--primary-lettering);
  font-style: italic;
  padding-bottom: 1rem;
}

#mainContainer {
  display: none;
}

#titleHighlight {
  color: var(--primary-lettering);
  font-style: italic;
}
